ul.topnav {
  list-style-type: none;
  margin: 1rem;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

html {
	margin: 8px;
}


li.topnav {
  float: right;
}

li.topnav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.topnav a:hover {
  background-color: #111;
}

#figure {
	display: inline-block;
}

.bio {
	margin-top: 8px;
	margin-left: 16px;
	margin-right: 16px;
}

.profexp {
	text-align: center;
	border-bottom: 4px solid #333;
}

.section {
}

.container {
	width: 100vw;
	height: 100vh;
}

#headshot {
	float: left;
	max-width: 100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 32px;
}


.linktree {
  	margin: 1rem;
  	padding: 0;
  	overflow: hidden;
  	background-color: #0e76a8;
  	height: 46.40px;
  	text-align: center;
}

p a {
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}


.linktree2 {
  	margin: 1rem;
  	padding: 0;
  	overflow: hidden;
  	background-color: #6e5494;
 	text-align: center;
  	height: 46.40px;
}

#education h3 {
	margin: 1rem;
	border-bottom: 4px solid #333;
}

#education p {
	margin: 1rem;
}

.edu {
	margin: 1rem;
}

.workinprogress {
	border: 4px solid black;
	text-align: center;
	margin: 1rem;
}
